.navbar-brand {
    padding-top: 2px;

}

.navbar {
    color: #26e6bc;
}

.banner {
    padding-top: 1%;
    color: #f8fbff;
}

.jumbotron {

    background-color: #ffffff;
}

.program {
    padding-top: 1%;
    padding-bottom: 1%;

}

.kelas {
    padding-top: 5%;
    padding-bottom: 1%;
}

.lengkung {
    width: 12rem;
}

.display-3 {
    padding-top: 7%;

}

.lingkaran {
    display: inline-block;
    border: none;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: aliceblue;
    background-color: #fd7e14;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.card {
    object-fit: cover;
}

.p {
    padding-bottom: 10%;
}

.staff {
    padding-bottom: 10rem;
    /* padding-top: 3rem; */
    margin-top: -10%;

}

.contact {
    padding-bottom: 10rem;
    /* padding-top: 3rem; */
    margin-top: -10%;

}


/*Style Music Button*/
.style {
    background: rgba(0, 0, 0, 0.5);
    animation: pulse 2s ease infinite;
}

.play-btn {
    background-image: url(../assets/images/btn/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50%;
    left: 4%;
    z-index: 101;
    padding: 20px;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    display: none;
}

.pause-btn {
    background-image: url(../assets/images/btn/pause.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50%;
    left: 4%;
    z-index: 100;
    padding: 20px;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    /*  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;*/
}

.play-btn:hover,
.pause-btn:hover {
    background-color: RoyalBlue;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {

    .pause-btn,
    .play-btn {
        bottom: 20px;
        left: 20px;
    }
}

@media screen and (max-width: 992px) {

    .pause-btn,
    .play-btn {
        bottom: 20px;
        left: 20px;
    }
}

@media screen and (max-width: 1024px) {

    .pause-btn,
    .play-btn {
        bottom: 20px;
        left: 20px;
    }
}

/* END Syle Music Button */